.btn-primary {
    background-color: getColor(primary);
    color: getColor(dark);
    font-weight: 700;
    border-radius: getSize(borderRadius);
    border: none;
    min-width: 110px;
}
.btn-primary:hover {
    background-color: getColor(fontPrimary);
    color: getColor(dark);
}

.btn-primary:active,
.btn-primary:focus-visible {
    @extend .btn-primary;
    outline: none;
}