body {
    font-family: $font;
}

h1 {
    color: getColor(fontPrimary);
    text-align: center;
    font-weight: getFontSize(fontWeight);
    margin-bottom: getSize(cardSpacer);
}

h2 {
    color: getColor(fontPrimary);
    font-size: 1rem;
    font-weight: getFontSize(fontWeight);
}
