.profile-banner {
    width: 100%;
    max-height: getSize(profileAvatar);
    object-fit: cover;
}

.banner-container {
    position: relative;
    z-index: 1;

    a {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: getSize(cardSpacer);
    }
}

.avatar-container {
    @extend .banner-container;
    display: inline-block;
}

.profile-avatar {
    width: getSize(profileAvatar);
    height: getSize(profileAvatar);
    max-width: getSize(profileAvatar);
    object-fit: cover;
    margin-top: -100px;
    padding: getSize(cardSpacer);
}

.user-profile {
    text-align: center;

    .username {
        color: getColor(fontPrimary);
    }
}

.user-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    font-size: getFontSize(mediumFont);

    button {
        font-size: getFontSize(mediumFont);
    }
}

.user-info.own-profile {
    justify-content: space-evenly;
}

.no-posts {
    text-align: center;
    padding: 0.65rem;
    margin: 0.65rem 0;

    a {
        color: getColor(fontPrimary);
        font-weight: getFontSize(fontWeight);
    }

    a:hover {
        text-decoration: underline;
    }
}
