// FONT variables
$font: 'Raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$fontSizes: (
    smallFont: 0.7rem,
mediumFont: 1.4rem,
);

@function getFontSize($fontSize) {
    @return map-get($fontSizes, $fontSize);
}

// COLOR variables

$colors: (
    primary: #F5C495,
fontPrimary: #FFDAB7,
    cards: #393C45,
dark: #21242A,
error: #FF9D9D,
    white: #fff,
    black: #1A1E24,
);

@function getColor($color) {
    @return map-get($colors, $color);
}
// SIZE variables

$sizes: (
authorAvatar: 2.6rem,
userAvatar: 140px,
cardSpacer: 0.65rem,
borderRadius: 20px,
addReaction: 2.5rem,
followersInfo: 2rem,
usernameMargin: 0.5rem,
);

@function getSize($size) {
    @return map-get($sizes, $size);
}