// FONT variables
$font: 'Raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$fontSizes: (
    smallFont: 0.7rem,
    mediumFont: 0.8rem,
    // largeFont: 1.4rem,
);

@function getFontSize($fontSize) {
    @return map-get($fontSizes, $fontSize);
}

// COLOR variables
$colors: (
    primary: #f5c495,
    fontPrimary: #ffdab7,
    cards: #393c45,
    dark: #21242a,
    error: #ff9d9d,
    white: #fff,
    black: #1a1e24,
);

@function getColor($color) {
    @return map-get($colors, $color);
}

// SIZE variables
$sizes: (
    authorAvatar: 2.6rem,
    userAvatar: 140px,
    profileAvatar: 200px,
    cardSpacer: 0.65rem,
    borderRadius: 20px,
    addReaction: 2.5rem,
    followersInfo: 2rem,
    usernameMargin: 0.5rem,
);

@function getSize($size) {
    @return map-get($sizes, $size);
}

// BREAKPOINTS for media queries
$breakpoints: (
    xxSmall: 384px,
    xSmall: 576px,
);

@function getBreakpoint($breakpoint) {
    @return map-get($breakpoints, $breakpoint);
}
